.creator {
  color: var(--mantine-color-gray-6);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.container {
  display: flex;
  gap: 1.25rem;
}

.button {
  width: fit-content;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.iconButton {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.indicator {
  border-radius: var(--mantine-radius-md);
}
