.margin {
  margin-bottom: 2.5rem;
}

.margin2 {
  margin-bottom: 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
